body{
    background-color: rgb(143, 52, 235);
}
p{
    font-size: 20px;
    color: white;
}
h1{
    text-align: center;
    background-color: rgb(198, 148, 247);
    color:black;
    padding: 10px;
    font-size: 25px;
    width: 100%;
    margin-top: 0px;
    top: 0;
}
#show_sketch{
    float: right;
}

#score{
    float: left;
    margin-left: 25px;
    font-weight: bold;
}
#timer{
    float: right;
    margin-right: 90px;
    font-weight: bold;
}